body{
    margin: 0;
    width: 100%;
}

.header{
    height: 150px;
    width: 100%;
    padding-top: 20px;
    background-color: #F8FCDA;
}
.header-content{
    height: 100px;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}
.header-logo{
    height: 70px;
    width: 20%; 
}
.header-logo img{
  height: 100px;
  width: auto;
}
.header-menu{
    height: 70px;
    width: 70%;
    padding-top: 10px;
}
.header-menu a{
  color: black;
  text-decoration-line: none;
  font-size: 25px;
  padding: 20px 0px;
  }
.header-menu li{
    display: inline-block;
   margin: 10px 5px;
    color: black;
   
}
.hero{
    height: 450px;
    width: 100%;
    display: flex;
    background-color: #F8FCDA;
    justify-content: space-around;
    padding-top: 50px;
}
#imagecontainer {
  position: relative;
  overflow: hidden;
  width: 0; /* Set initial width to 0 */
  opacity: 0; /* Set initial opacity to 0 */
  transition: width 5s ease, opacity 2s ease; /* Add transition effects */
}
.hero-content{
    height: 400px;
    width: 48%;
    text-align: center;
}
.hero-content img{
    height: 400px;
    width: auto;
    margin-left: 70px;
    display: block;
}
.hero-content h1{
    text-align: center;
    font-weight: 800;
    transform: scale(0);
    animation: zoomin 1s ease-in-out;
    animation-delay: 2s;
    color: black;
    animation-fill-mode: forwards;
}
.hero-content p{
    font-size: 1.2rem;
    text-align: center;
    font-weight: 400;
    color: black;
    padding: 20px 20px;
}
.booking-btn{
    background-color: #7C6354;
    padding: 10px 20px;
    color: white;
    border-radius: 20px;
    border: none;
    margin-left: 20px;
}
.room-btn{
    background-color:gray;
    padding: 10px 20px;
    color: black;
    border-radius: 10px;
    border: none;
   
}

@keyframes zoomin {
    0% {
      transform: scale(0);
    }
    90% {
      transform: scale(1.1);
    }
    95% {
      transform: scale(1.07);
    }
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes fadedown {
    0% {
      opacity: 0;
      transform: translate3d(0,-10px,0);
    }
    90% {
      transform: translate3d(0,1px,0);
    }
    100% {
      opacity: 1;
      transform: translate3d(0,0,0);
    }
  }
  .Room-gallery{
    height: 650px;
    width: 100%;
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;
  }
  .Room-gallery h1{
    font-weight: 800;
    padding-top: 40px;
  }
  .Room-gallery p{
margin-top: -20px;
font-size: 1.2rem;
font-weight: 400;
  }
  .Room-gallery-content{
    height: 480px;
    width: 90%;
    margin: auto;
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
  }
  .Room-content{
    height: 450px;
    margin:15px 0px ;
    width: 30%;
  }
 
  .Room-content img{
   height: 200px;
   width: auto;
   border-radius: 10px;
  }
  .Room-content h3{
    text-align: left;
    padding-bottom: 30px;
    padding-left: 20px;
  }
  .btn{
    border-radius: 10px;
    background-color: #7C6354;
    padding: 5px 10px;
    color: black;
    border-radius: 10px;
    border: none;
  }
  .Room-content span{
    font-size: 20px;
    margin-right: 10px;
    font-weight: 800;
  }
  .Room-content p{
    font-size: 1.0rem;
    text-align: left;
    padding-bottom: 20px ;
    padding-left: 20px;
   
  }
  #fadeInDiv {
    opacity: 0; /* Initially set opacity to 0 */
    transform: translateX(-50px); /* Initially translate div to the left by 50px */
    transition: opacity 2s ease, transform 5s ease; /* Add transition effects */
    top: 50%;
    left: 0;
    background-color: #fff;
    padding: 0px;
   
  }
  .Choose-us{
    height: 450px;
    width: 100%;
    padding-bottom: 50px;
  }
  .Choose-us h1{
    font-weight: 800;
    padding-top: 40px;
    margin-left: 80px;
  }
  .Choose-us li{
    margin-left: 80px;
    font-size: 1.0rem;
  }
  .choose-title{
    font-size: 20px;
    font-weight: 700;
  }
  .Call-t0-action{
    width: 90%;
    margin: auto;
    
    background-color: #F8FCDA;
    height: 400px;
    border-radius: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
    box-shadow: 0 0 10px rgba(24, 21, 21, 0.5);
    display: flex;
    justify-content: space-around;
  }
  .call-to-action-contents{
    height: 200px;
    width: 65%;
    margin-top: 80px;
  }
  .call-to-action-contents h1{
    font-weight: 800;
    color: black;
  }
   .call-to-action-contents p{
    margin-top: 0px;
    color: black;
font-size: 1.2rem;
font-weight: 400;
  }
  .call-to-action-contents2{
    height: 200px;
    margin-top: 80px;
    width: 30%;
    text-align: center;
  }
  .cta-btn{
    padding: 20px 20px;
    
    background-color: #7C6354;
    color: black;
    cursor: pointer;
    width: 60%;
    border: none;
    margin-top: 80px;
    border-radius: 20px;

  }
  .footer{
background-color: black;
height: 280px;
width: 100%;
display: flex;
justify-content: space-around;
  }
  .footer-parts{
    height: 230px;
    width: 30%;
    margin: 10px 0px;
  }
  .footer-parts img{
    height: 100px;
    width: auto;
  }
  .footer-parts h4{
color: white;
  }
  .footer-parts li{
    margin-top: 20px;
    font-size: 20px;
    color: white;
    list-style-type: none;
  }
  .footer-parts h1{
    font-size: 20px;
    color: white;
    text-align: center;
    font-weight: 700;
  }
 .footer2{
  height: 80px;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: space-around;
 }
 .footer2-parts{
  width: 30%;
  margin-top: 10px;
  height: 50px;
 }
 .footer2-parts h4{
  color: white;
 }
 .footer2-parts p{
  font-weight: 700;
  color: white;
 }
 .privacy{
  margin-left: 40px;
  color: white;
 }
 /* CONTACT SECTION */
.contact{
  background-color: #F8FCDA;
  width: 100%;
  height: 750px;
  margin-top: -22px;
}
.contact h1{
  font-weight: 800;
  color: black;
  text-align: center;
  padding-top: 40px;
}
.contact p{
  text-align: center;
  font-weight: 700;
  color: black;
  margin-top: -15px;
  padding-bottom: 50px;
}
.contact-details{
  width: 90%;
  margin: auto;
  height: 470px;
  margin-top: 80px;
  display: flex;
  justify-content: space-around;
}
.contact-detail-box{
 width: 45%;
 margin-top: 10px;
 height: 450px; 
}
.contact-detail-box img{
  height: 400px;
  width: auto;
}
.contact-detail-box label{
  font-size: 20px;
  font-weight: 700;
  color: black;
  margin-left: 40px;
}
.txt{
  width: 80%;
  border-radius: 10px;
  height: 30px;
   margin: 0px 10%;
}
.txt-area{
  width: 80%;
  margin-left:40px ;
  height: 150px;
  margin-top: 20px;
}
.submit-btn{
  width: 50%;
  background-color: #7C6354;
  padding: 5px 10px;
  color: black;
  border-radius: 20px;
  border: none;
  margin-left: 40px;
  margin-top: 30px;
}

.contact-details2 h3{
  font-weight: 700;
  color: black;
  margin-left: 40px;
}
.contact-details2 label, address, li,a{
  text-decoration: none;
  color: black;
  font-size: 20px;
  list-style-type: none;
  margin-left: 40px;
}
.contact-details2{
  height: 200px;
  background-color: #F8FCDA;
  width: 100%;
  margin-top: -19px;
}
/* ROOM GALLERY */
.Rooms{
  height: 900px;
  width: 100%;
  padding-top: 20px;
  margin-top: -2px;
}
.Rooms-content{
  height: 870px;
  width: 90%;
  margin: auto;
 display: flex;
 justify-content: space-around;
}
.Rooms-content-details{
  width: 48%;
  margin-top: 10px;
  height: 850px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


.Rooms-content-details img{
  height: 250px;
  width: auto;
  margin-left: 20px;
  margin-top: 10px;
}
.feature-details{
  height: 340px;
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}
.features-box{
  height: 300px;
  width: 30%;
  text-align: center;
  margin-top: 20px;
}
.features-box img{
  height: 90px;
  width: auto;
}
.Rooms-price{
 margin-left: 40px;
}
.Rooms-btn{
  margin-left: 40px;
  width: 30%;
  
  background-color: #7C6354;
  padding: 5px 10px;
  color: black;
  border-radius: 20px;
}
/* SERVICES SECTION */
.services{
  width: 100%;
  height: 230px;
  text-align: center;
  margin-top: -22px;
}
.services h1{
  padding-top: 70px;
  font-weight: 800;
}
.services h3{
  margin-top: -15px;
}
.services p{
  padding: 0px 15%;
  font-size: 1.0rem;
  font-weight: 400;
  letter-spacing: 1px;
}
.service-content{
  width: 100%;
  height: 570px;
  padding: 40px 0px;
  display: flex;
  justify-content: space-around;
}
.service-content-box{
  height: 530px;
  margin-top: 10px;
  width: 48%;
  border-radius: 20px;
  background-color: #F8FCDA;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.service-content-box h1{
  padding: 0px 35px;
  font-weight: 800px;
}
.service-content-box p{
  padding: 0px 30px;
}
.service-content-box h3{
  padding: 0px 30px;
  font-weight: 600;
}
.customer-review{
  height: 700px;
  margin-top: 80px;
  padding-top: 20px;
  width: 100%;
}

.customer-review h1{
  text-align: center;
  font-weight: 800px;
}
.customer-review h3{
  text-align: center;
  font-weight: 400px;
  margin-top: -15px;
  padding-bottom: 40px;
}
.customer-section{
  height: 500px;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}
.customer-comments{
  height: 450px;
  width: 30%;
  text-align: center;
  margin-top: 25px;
  background-color: #F8FCDA;
}
.customer-comments img{
  height: 200px;
  border-radius: 50%;
}
.fa-thin,.fa-star{
  float: left;
  padding-left: 10px;
  color: gold;
}
.customer-comments p{
  text-align: left;
  padding: 10px;
}
.Payment{
  background-color: gray;
  height: 370px;
  width: 30%;
  margin: auto;
  border-radius: 30px;
 margin-top: 50px;
  box-shadow:50px;
  text-align: center;
  margin-bottom: 50px;
}
.Payment img{
  height: 100px;
  width: auto;
  padding-top: 20px;
}
.Payment-btn{
  background-color: #7C6354;
  padding: 10px 20px;
  color: black;
  border-radius: 20px;
  border: none;
  margin-right: 20px;
}
.cancel-btn{


 color: white;
 border-radius: 20px;
 border: none;
 padding: 5px 5px;
}
/* .cart-content p{
  font-size: 20px;
  font-weight: 500;
} */
.cardtext{
  width: 80%;
  margin: auto;
  height: 30px;
  border: none;
  padding: 0px 5px;
  border-radius: 10px;
  margin: 5px 0px;
}
.cardtext2{
  width: 21%;
  margin: auto;
  height: 30px;
  border: none;
  margin: 20px 15px;
  border-radius: 10px;   
}

